:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --gradient:
    linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
  --main: #1f303a;
  --text: #fff;
  --sky: #354a4a;
  --mountain: #4f7b91;
  --mountain-shadow: #304a58;
  --snow: #ccc;
  --snow-shadow: #bbb;
  --light: #fff;
}

html {
  overflow-x: hidden;
}

.bg-main {
  transition: background-color 4s ease-in-out;
  background-color: var(--main);
}

.text-var {
  transition: color 4s ease-in-out;
  color: var(--text);
}

.bg-sky {
  transition: background-color 4s ease-in-out;
  background-color: var(--sky);
}

.bg-button {
  transition: background 4s ease-in-out;
  background: var(--mountain);
  border-radius: 0.25rem;
  color: white;
}

.border-header,
.border-text,
.mountain,
.mountain-1,
.mountain-2,
.mountain-3,
.mountain-4,
.mountain-shadow,
.mountain-shadow-1,
.mountain-shadow-2,
.mountain-shadow-3,
.mountain-shadow-4,
.snow,
.snow-1,
.snow-2,
.snow-3,
.snow-shadow,
.snow-shadow-1,
.snow-shadow-2,
.snow-shadow-3 {
  transition: border-bottom 4s ease-in-out;
}

.border-header {
  border-bottom: 2px solid var(--text);
}

.border-text {
  border: 2px solid var(--text);
}

.sun-moon {
  transition: background-color 4s ease-in-out;
  width: 100px;
  height: 100px;
  background-color: var(--light);
  transform: translateX(45%) translateY(80%);
}

.mountain {
  left: 120px;
  border-right: 180px solid transparent;
  border-bottom: 350px solid var(--mountain);
  border-left: 180px solid transparent;
}

.mountain-shadow {
  left: 300px;
  border-right: 140px solid transparent;
  border-bottom: 350px solid var(--mountain-shadow);
  transform-origin: top right;
  transform: skewX(18deg);
}

.mountain-1 {
  left: 60px;
  border-right: 130px solid transparent;
  border-bottom: 150px solid var(--mountain);
  border-left: 130px solid transparent;
}

.mountain-shadow-1 {
  left: 190px;
  border-right: 100px solid transparent;
  border-bottom: 150px solid var(--mountain-shadow);
  transform-origin: top right;
  transform: skewX(18deg);
}

.mountain-2 {
  left: 360px;
  border-right: 130px solid transparent;
  border-bottom: 300px solid var(--mountain);
  border-left: 130px solid transparent;
}

.mountain-shadow-2 {
  left: 490px;
  border-right: 100px solid transparent;
  border-bottom: 300px solid var(--mountain-shadow);
  transform-origin: top right;
  transform: skewX(18deg);
}

.mountain-3 {
  left: 600px;
  border-right: 180px solid transparent;
  border-bottom: 150px solid var(--mountain);
  border-left: 180px solid transparent;
}

.mountain-shadow-3 {
  left: 780px;
  border-right: 135px solid transparent;
  border-bottom: 150px solid var(--mountain-shadow);
  transform-origin: top right;
  transform: skewX(18deg);
}

.mountain-4 {
  left: 920px;
  border-right: 180px solid transparent;
  border-bottom: 350px solid var(--mountain);
  border-left: 180px solid transparent;
}

.mountain-shadow-4 {
  left: 1100px;
  border-right: 140px solid transparent;
  border-bottom: 350px solid var(--mountain-shadow);
  transform-origin: top right;
  transform: skewX(18deg);
}

.snow {
  bottom: -98px;
  left: -50px;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--snow);
  border-left: 50px solid transparent;
}

.snow-shadow {
  bottom: -87px;
  border-right: 35px solid transparent;
  border-bottom: 100px solid var(--snow-shadow);
  transform-origin: top right;
  transform: skewY(-18deg);
}

.snow-jagged {
  transition: border-top 4s ease-in-out;
  bottom: -130px;
  left: -45px;
  border-top: 40px solid var(--snow);
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

.snow-1 {
  bottom: -98px;
  left: -85px;
  border-right: 85px solid transparent;
  border-bottom: 100px solid var(--snow);
  border-left: 85px solid transparent;
}

.snow-shadow-1 {
  bottom: -80px;
  border-right: 55px solid transparent;
  border-bottom: 100px solid var(--snow-shadow);
  transform-origin: top right;
  transform: skewY(-18deg);
}

.snow-2 {
  bottom: -98px;
  left: -42.5px;
  border-right: 42.5px solid transparent;
  border-bottom: 100px solid var(--snow);
  border-left: 42.5px solid transparent;
}

.snow-shadow-2 {
  bottom: -87.5px;
  border-right: 30px solid transparent;
  border-bottom: 100px solid var(--snow-shadow);
  transform-origin: top right;
  transform: skewY(-18deg);
}

.snow-3 {
  bottom: -80px;
  left: -96px;
  border-right: 95px solid transparent;
  border-bottom: 80px solid var(--snow);
  border-left: 95px solid transparent;
}

.snow-shadow-3 {
  bottom: -62.5px;
  border-right: 55px solid transparent;
  border-bottom: 80px solid var(--snow-shadow);
  transform-origin: top right;
  transform: skewY(-18deg);
}

.close-navbar-toggler {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  z-index: -1;
}

.navbar {
  z-index: 2;
}

.navbar-toggler {
  width: 25px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  animation: background-pan 3s linear infinite;
  background: var(--gradient);
  background-size: 200%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  position: absolute;
  top: 10px;
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  animation: background-pan 3s linear infinite;
  background: var(--gradient);
  background-size: 200%;
}

.nav-border {
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  animation: background-pan 3s linear infinite;
  background: var(--gradient);
  background-size: 200%;
}

.home-name {
  text-shadow: 1px 1px 1px rgb(99, 99, 99);
}

#cycle span {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  animation: cycle-titles 20s linear infinite;
  text-shadow: 1px 1px 1px rgb(97, 97, 97);
}

#cycle span:nth-child(2) {
  animation-delay: 5s;
}

#cycle span:nth-child(3) {
  animation-delay: 10s;
}

#cycle span:nth-child(4) {
  animation-delay: 15s;
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }

  .sun-moon:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1280px) {
  .sun-moon {
    transform: translateX(60%) translateY(100%);
  }
}

@keyframes cycle-titles {
  0% {
    opacity: 0;
  }

  1% {
    transform: translateX(-20px);
  }

  4% {
    opacity: 0;
  }

  5% {
    opacity: 1;
    transform: translateX(0);
  }

  17% {
    opacity: 1;
    transform: translateX(0);
  }

  19% {
    opacity: 0;
  }

  20% {
    transform: translateX(20px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes daylight {
  0% {
    background-color: #70c4c6;
  }

  25% {
    background-color: #524b64;
  }

  40% {
    background-color: #354a4a;
  }

  70% {
    background-color: #354a4a;
  }

  75% {
    background-color: #e2b553;
  }

  90% {
    background-color: #70c4c6;
  }

  100% {
    background-color: #70c4c6;
  }
}
